---
layout: splash
---

<div class="home">

  <div id="ideafest_title">
    <p>Monash Faculty of IT</p>
    <h1>IdeaFest</h1>
    <p>Orientation Week Feb 2021</p>
  </div>

  <div id="blurb">
    <p>IdeaFest is an ongoing welcoming event, designed to help you connect with other new students and feel at home in our IT community.</p>
    <p>Teams have been working together to create characters with their own backgrounds, hobbies and worries about starting university, 
      and finding ways that they can get involved with the Monash community.</p>
  </div>

  <div class="personas_header_container">
    <div class="divider"></div>
    <div class="personas_header">
      <b>Recent Characters</b>
    </div>
    <div class="divider"></div>
  </div>

  <div class="post_list">
    {% for post in site.posts limit:3 %}
      <div class="post_card">
        <a href="{{ post.url }}">
          {% if post.profile_pic %} 
              <img class="profile_pic" src="{{post.profile_pic}}"/>
          {% endif %}
          <h3>{{post.name}}</h3>
          <p class="post-meta">{{post.group}}</p>
        </a>
      </div>
    {% endfor %}
  </div>
  <p class="view-all"><a href="/characters">View All</a></p>

  <div id="blurb">
    <p><b>Want to join in? Get started on your Monash University journey with IdeaFest!</b></p>
  </div>

  <button onclick="location.href='/about'" type="button">Find out more</button>

</div>


<script>
  function makeTimer() {
    var endTime = new Date("22 February 2021 9:00:00 GMT+11:00");			
    endTime = (Date.parse(endTime) / 1000);

    var now = new Date();
    now = (Date.parse(now) / 1000);

    var timeLeft = endTime - now;

    var days = Math.floor(timeLeft / 86400); 
    var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
    var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
    var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

    if (hours < "10") { hours = "0" + hours; }
    if (minutes < "10") { minutes = "0" + minutes; }
    if (seconds < "10") { seconds = "0" + seconds; }

    $("#days").html(days + "<span class='timer-descriptor'>Days</span>");
    $("#hours").html(hours + "<span class='timer-descriptor'>Hours</span>");
    $("#minutes").html(minutes + "<span class='timer-descriptor'>Minutes</span>");
    $("#seconds").html(seconds + "<span class='timer-descriptor'>Seconds</span>");		
  }

  setInterval(function() { makeTimer(); }, 1000);
</script>
