$color-blue: #006DAE;
$color-dark-blue: #027EB6;
$color-grey: #E6E6E6;
$color-purple: #9651A0;

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $color-dark-blue;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}


a {
    color: white;
    &,
    &:visited {
        color: white;
    }
}

.icon > svg path {
    fill: $color-grey;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: white;

    &,
    &:visited {
        color: white;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .path {
        color: $color-grey;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $color-dark-blue;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.page {
    display:block;
}

.post_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;

    .post_card {
        background-color: white;
        border-radius: 15px;
        padding:16px;
        list-style: none;
        width:100%;
        flex: 0 0 26%;
        max-width: 340px;

        img {
            width: 175px;
            height: 175px;
        }

        a h3 {
            color: $color-dark-blue;
            margin-top: 10px;
        }

        @media (max-width: 950px) {
            flex: 0 0 33%;
        }

        @media (max-width: 700px) {
            flex: 0 0 75%;
        }
    }
}

.personas_header {
    text-align: center;
    flex-grow:0;
    padding: 0 10px;
    margin: 0px auto 15px auto;
}

.personas_header_container{
    display:flex;
    flex-direction:row;
    align-items: center;
    width: 80%;
    margin: auto;
}
  
.divider{
    flex-grow:1;
    height: 1px;
    background-color:white;
    margin-bottom: 8px;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $color-grey;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.view-all {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

/**
* COUNTDOWN TIMER
* TAKEN FROM https://codepen.io/piotrswioklo/pen/fqnIA
**/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

#timer-container {
  width: $on-palm;
  margin: auto;
  text-align: center;
  min-height: 250px;
  background-color: $color-blue;
  border-radius: 20px;
  padding: 25px 20px 20px 20px;
  margin-top: 5%;

  @media (max-width: 670px) {
        width: 80%;
        margin: auto;
        padding: 15px 12px 12px 12px;
        min-height: 147px;
        border-radius: 16px;
    }

    @media (max-width: 514px) {
        width: 90%;
    }
}

#timer-window {
    background: white;
    border-radius: 20px;
    min-height: 160px;

    @media (max-width: 670px) {
        min-height: 80px;
        border-radius: 16px;
    }
}

.timer {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  font-weight:bold;
  font-size: 100px;
  color: $color-purple;

    @media (max-width: 670px) {
        font-size: 40px;
        padding: 10px;
    }
}

.timer-descriptor {
  display: block;
  font-size: 20px;

  @media (max-width: 670px) {
    font-size: 15px;
}
}

#seconds {
  font-size: 50px;
    @media (max-width: 670px) {
        font-size: 25px;
    }
}

body {
    background: $color-blue;
    color: white;
}

.splash-content {
    padding: $spacing-unit 0;
    font-size: 22px;

    button {
        font-size: 25px;
    }
}

button {
    font-family: 'Titillium Web', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:$color-dark-blue;
    margin: 20px auto 20px auto;
    padding: 12px 20px;
    display:block;
    border: solid;
    border-width: 2px;
    border-color: $color-grey;
    border-radius: 5px;
}

.splash-wrapper {
    max-width: -webkit-calc(#{$content-width});
    max-width:         calc(#{$content-width});
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width});
        max-width:         calc(#{$content-width});
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.splash-heading {
    font-size: 48px;
    font-weight: bold;
    color: white;

    @media (max-width: 670px) {
        font-size: 35px;
    }

    @media (max-width: 408px) {
        font-size: 30px;
    }
}

#ideafest_title {
    text-align: center;
    width: 480px;
    margin: 20px auto 40px auto;
    color: $color-grey;

    h1 {
        font-size: 80px;
        border-style: solid;
        line-height: 1.2;
        border-right: none;
        border-left: none;
        font-weight: bold;
        letter-spacing: 3px;
        color: white;
    }
    p {
        line-height: 0.3;
        font-size: 21px;
        letter-spacing: 2px;
    }

    @media (max-width: 540px) {
        width: 90%;
    }
}

#blurb {
    margin: 30px;
    text-align: center;

    b {
        font-size: 26px;
    }
}

.attribution {
    color: $color-grey;
    font-size: small;
    margin-top: 25px;
}

.PageNavigation {
    font-size: 14px;
    display: flex;
    width: 100%;
    overflow: hidden;

    .placeholder {
        display: block;
        width: 33%;
        margin: 1em 0;
    }

    a {
        display: block;
        width: 33%;
        float: left;
        margin: 1em 0;
    }

    .next {
        text-align: right;
    }

    .all {
        text-align: center;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    min-height: 65vh;
}

.page-heading {
    font-size: 36px;
    text-align: center;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-top: 16px;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-header {
    margin-bottom: 30px;
    height: 190px;
    padding-left: 40px;
    position: relative;

    img {
        max-width: 300px;
        float: right;
        margin: -10px 0px 0px 0px;
    }

    @media (max-width: 610px)
    {
        text-align: center;
        padding-left: unset;
        
        img {
            height: 150px;
            float: unset;
            margin: auto;
        }
        h1 {
            text-align: center;
            width: 100%;
            margin-bottom: 0px;
        }
    }
}

/**
 * Posts
 */
article {
    background-color: white;
    color: $color-dark-blue;
    border-radius: 15px;
    padding: 30px;
}

.persona-page-header {
    margin-bottom: $spacing-unit;
    position: relative;
    display: block;
    height: fit-content;
    padding-left: 20px;

    img {
        float: right;
        margin-right: 50px;

        @media (max-width: 680px) {
            height: 150px;
            width: 150px;
            float:unset;
            margin: auto;
            text-align: center;
        }
    }

    @media (max-width: 680px) {
        text-align: center;
        padding-left: unset;
        h1 {
            text-align: center;
            width: 100%;
            margin-bottom: 0px;
        }
    }
}

.profile_pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border-color: $color-purple;
    border-style: solid;
}

.header-text {
    height: 200px;
    width: 60%;
    margin: 20px 40px 0px 0px;
    vertical-align: middle;

    @media(max-width: 850px) {
        width: 55%;
    }
    @media(max-width: 680px) {
        font-size: 42px;
        width: 100%;
        height: 100px;
        position: relative;
    }
}

.post-title {
    font-size: 48px;
    color: white;
    line-height: 1;
    position: absolute;
    bottom: 0;

    @media screen and (max-width: 850px) {
        font-size: 36px;
    }
}

.persona-title {
    height: fit-content;
    font-size: 64px;
    line-height: 180px;
    color: $color-purple;
    vertical-align: middle;
    padding-bottom: 10px;

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
      }

    @media(max-width: 850px) {
        font-size: 48px;
    }
    @media(max-width: 680px) {
        font-size: 42px;
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;
        line-height: 1;
        position: initial;
    }
}

.post-content {
    margin-top: 40px;
    margin-bottom: $spacing-unit;
    padding: 10px 20px 20px 20px;

    @media(max-width: 550px) {
        padding: 10px 10px;
        margin-top: 30px;
    }

    @media(max-width: 400px) {
        padding: 10px 0px;
        margin-top: 40px;
    }

    @media(max-width: 320px) {
        padding: 10px 0px;
        margin-top: 70px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        margin-top: 30px;
        font-size: 26px;
        display: block;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        img {
            float: right;
            max-width: 40%;
            max-height: 200px;
            margin: -10px 0px 16px 16px;
            vertical-align: initial;

            @media(max-width: 550px) {
                padding: 10px 10px;
                float: none;
                max-height: initial;
                max-width: initial;
                margin: auto auto 10px auto;
                width: 100%;
                height: 180px;
                object-fit: scale-down;
            }
        }

        font-size: 18px;
    }

    // p:nth-of-type(2n) {
    //     img {
    //         float: left;
    //         clear: left;
    //         max-width: 40%;
    //         max-height: 150px;
    //         margin: 16px 16px 16px 0px;
    //     } 
    // }
}

