---
layout: default
---
<div class="page">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <img src="/images/globe.svg"/>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <a class="attribution" href="https://www.vecteezy.com/free-vector/phone">Phone Vectors by Vecteezy</a>

</div>
