---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="persona-page-header">
    {% if page.profile_pic %} 
        <img class="profile_pic" src="{{page.profile_pic}}"/>
    {% endif %}
    <div class="header-text">
        <h1 class="persona-title" itemprop="name headline"><span>{{ page.name }}</span></h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{page.group}} | Updated {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </p>
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.group}}</a>
  {% else %}
    <p class="placeholder"></p>
  {% endif %}
  <a class="all" href="/characters">View All</a>
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.group}} &raquo;</a>
  {% endif %}
</div>
