<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="splash-body">

    <div class="splash-content">
      <div class="splash-wrapper">
        {{ content }}
      </div>
    </div>

  </body>

</html>
